cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
*.o
*.obj
*.exe
*.out
*.app
*.ilk
*.pdb
*.idb
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
